*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
}

:root {
    --font-style: 'Lexend', sans-serif; 
    --text-light: #eff7fb;
    --text-dark: #030000;
    --primary-color:#ffffff;
    --secondary-color: #170894; 
    --accent-color:  #ffed05;
}

body {
    font-family: var(--font-style);
    color: var(--text-dark);
    background-color: var(--primary-color);
    line-height: 1.6;
}


